@import url('://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

body {
  height: 100vh; 
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  background-size: 400% 400%; 
  background-clip: content-box;

  overflow-x: hidden;
}

@keyframes bg {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotation {
  0% { --gradient-angle: 0deg;}
  100% { --gradiend-angle: 360deg;}
}

nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100; 
 
}


nav ul {
  list-style: none;
  display: flex;
 
  
}

nav ul li {
  margin-left: 40px;
    margin-top:-5%;
  
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: ease-in-out 0.3s;
  justify-content: center;
}

nav a:hover {
  border-bottom: 2px solid rgb(42, 59, 42); 
  padding-bottom: 3px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px;
  margin-left: 20px;
  right:10%;
}

#searchInput {
  padding: 5px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  width: 200px;
  transition: border-color 0.3s ease;
  margin-top:-15%;
}

#searchInput:focus {
  border-color: transparent;
}

#searchIcon {
  margin-top:-15%;
        font-size: 20px;
        border: transparent;
        color: white;
        cursor: pointer;
        margin-left: 10px;
        background-color: transparent;
}

#searchIcon:hover {
  color: gray;
}

.logo {
  width: 180px;
  height: 180px; 
margin-left: -8%;
  margin-top:-5%; 
}

:root {
--clr-1:#052b2f;
--clr-2:#073438;
--clr-3:#0e4b50;
--clr-4:#2d8f85;
--clr-5:#637c54;
}

.black-space{
  height: 200px; 
  background-color:black;
  border-radius: 20px;
}
.black-space h1{
  color: gray;
  text-align: center;

}
.black-space p{
  color: gray;
  text-align: center;

}

h1 {
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.box {
display: flex;
align-items: center;
justify-content: center;
 width: 87%;
 height: 100%;
 position: relative;
 background: linear-gradient(
  var(--clr-3),
  var(--clr-4),
  var(--clr-5));
  border-radius: inherit;
  box-shadow: 2px 2px 12px var(--clr-3), var(--clr-4),
  var(--clr-5), -1px -1px 8px rgba(0, 0, 0, 0.2);
 z-index: 1;
 border-radius: 100px 100px 10px 10px;
 left: 100px;
}
.glow::before, .glow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    -45deg,
    var(--clr-3),
    var(--clr-4),
    var(--clr-5)
  );
  background-size: 400%;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  z-index: 2;
  animation: change 40s linear infinite;
}
@keyframes change {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
  
}
.glow::after {
  filter: blur(40px);
}

select {
  appearance: none;
  outline: none;
  padding: 10px 35px;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 5px ;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0px;
  color: white;
  font-weight: bold;
  text-align: center;
  
}

select option {
  padding: 10px 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  border-radius: 5px ;
  list-style: none;
  text-align: center;
  color: gray;
}

img {
  margin: 15px;
  width: 170px;
  height: 220px;
  border-radius: 5px;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px;
    z-index: 1000;
}

.navlist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navlist li {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
}

.navlist a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navlist a:hover {
    background-color: #555;
}



.watch1 { 
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0, 0.37);
  border-radius: 20px;
  box-sizing: content-box;
  z-index: 2;
  position: relative;
  width: 30%;
  text-align: center;
  align-items: center;
  padding: 15px;
}



  .watch2   { 
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0, 0.37);
  border-radius: 20px;
  box-sizing: content-box;
  z-index: 1;
  position: relative;
  width: 30%;
  text-align: center;
  align-items: center;
  padding: 15px;
  
      }
      .watch1, .watch2 {
        bottom: 20%;
        margin: 5%;
      }

      

p {
  color: white;
  font-size: 15px;
}

table {
  top: 58%;
  position: absolute;
  align-items: center;
  left: 20%;
  backdrop-filter: blur(7px);
  border-radius: 0.8rem;
  z-index: 2;
  height: 42%;
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 0 2px 12px rgba(32, 32, 32, 0.3);
  background-color: #fff5;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  
}

tr {
  transition: all 0.2s ease-in;

 
}
th, td {
  color: white;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}






